@use './../../styles/essentials';

.heading-2 {
    font-family: essentials.$font-family;
    font-size: 1rem;

    @media screen and (min-width: 420px) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: 1024px) {
        font-size: 2rem;
    }

    @media screen and (min-width: 1440px) {
        font-size: 3rem;
    }
}