@use './../../styles/settings'as *;

.heading-2 {
    font-family: $font-sans-serif;
    font-size: 1rem;

    @media screen and (min-width: 420px) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: 1024px) {
        font-size: 2rem;
    }

    @media screen and (min-width: 1440px) {
        font-size: 3rem;
    }
}