@use './../../scss' as *;

$padding-v: 16px;
$padding-h: 50px;

.button {
    @include font-family(display);

    display: inline-flex;
    align-items: center;
    
    font-size: 18px;
    white-space: nowrap;
    
    background-color: $color-red;
    color: $color-white;
    
    padding: $padding-v $padding-h;
    border: none;
    border-radius: $box-rounded;

    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
    
    svg {
        height: 1.2em;
        margin-right: .5em;
        margin-left: -.5em;
        fill: currentColor;
    }
    
    &.-blue {
        background-color: $color-blue;
    }
    
    &.-ghost {
        background-color: transparent;
        border: $box-border-width solid currentColor;
        padding: #{$padding-v - $box-border-width} #{$padding-h - $box-border-width};
    }
}