@use './../../styles/essentials';

.button {
    display: inline-block;
    padding: 1em 2em;

    font-family: essentials.$font-family;
    background-color: essentials.$red;
    color: essentials.$white;
    border-radius: 10px;
}