@import '../../styles/_essentials.scss';

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 200px 50px;

    font-family: $font-family;
    color: white;

    background-size: cover;

    .heading-2 {
        margin: .5em 0;
        max-width: 25em;
    }

    .spinner {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}