@use './../../styles/settings' as *;

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 200px 50px;

    font-family: $font-sans-serif;
    color: white;

    background-size: cover;
    background-position: center;

    .heading-2 {
        margin: .5em 0;
        max-width: 25em;
    }
}