@use './../../scss'as *;

.hero {
    .deck {
        &__inner {
            display: flex;
        }
    }

    .w {
        display: flex;
        flex-wrap: wrap;
    }

    &__content {
        order: 1;

        @include mq($until: m) {
            margin-top: 20px;
        }

        @include mq($from: m) {
            @include horizontal($prop: padding, $cols: 1);
            order: 0;

            position: relative;
            display: inline-block;
            z-index: 1;

            max-width: 49%;
            padding-top: 150px;
            padding-bottom: 150px;

            color: white;
        }

        >*:not(:last-child) {
            margin: 0 0 20px 0; // [fix this]
        }
    }

    &__image {
        order: 0;
        width: 100%;

        // is image tag
        object-position: right;

        // is css-background
        background-size: cover;
        background-position: right;
        min-height: 250px; // [fix this]

        @include mq($from: m) {
            order: 1;
            width: 50%;
            margin-left: auto;
        }
    }

    &.-full {
        .hero__image {
            @include mq($from: m) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}