@import 'settings/variables';

@import './../components/spinner/spinner.scss';

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}


html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: $paragraph-font-size;
}