@import '../../styles/essentials';

@keyframes spin {
    to { transform: rotate(360deg) }
}

.custom-spinner {
    animation: spin linear infinite 10s;
    
    display: inline-block;
    
    margin: 25px;
    padding: 25px;
    
    border: 2px solid $grey-1;
    border-radius: 15px;
    
    &:hover {
        background-color: $grey-2;
    }
    
    &.-fancy {
        color: white;
        background-color: aqua;
        border-color: aquamarine;
    }
}