@import '../../styles/essentials';

@keyframes spin {
    to { transform: rotate(360deg) }
}

.custom-spinner {
    animation: spin linear infinite 10s;
    
    display: inline-block;
    padding: 25px;
    
    border: 2px solid $grey-1;
    border-radius: 15px;

    font-family: $font-family;
    
    &:hover {
        background-color: $grey-2;
    }
    
    &.-fancy {
        color: white;
        background-color: $red;
        border: none;
    }
}