@use './../../styles/essentials';

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.spinner {
    animation: spin linear infinite 10s;

    position: absolute;
    top: 30px;
    right: 30px;

    display: inline-block;
    padding: 25px;

    border: 2px solid essentials.$grey-1;
    border-radius: 15px;

    font-family: essentials.$font-family;

    &:hover {
        background-color: essentials.$grey-2;
    }

    &.-fancy {
        color: white;
        background-color: essentials.$red;
        border: none;
    }

    &.-left {
        right: auto;
        left: 30px;
    }
}