@use './../../scss' as *;

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.spinner {
    @include font-family(sans-serif);

    animation: spin linear infinite 10s;

    position: absolute;
    top: 30px;
    right: 30px;

    display: inline-block;
    padding: 25px;

    border: 2px solid $color-grey-1;
    border-radius: 15px;

    &:hover {
        background-color: $color-grey-2;
    }

    &.-fancy {
        color: white;
        background-color: $color-red;
        border: none;
    }

    &.-left {
        right: auto;
        left: 30px;
    }
}