@use './../../styles/settings'as *;

.headline-2 {
    font: {
        family: $font-sans-serif;
        size: 32px;
        weight: bold;
    }

    line-height: 1.27;
    margin: 0;

    @media screen and (min-width: 1230px) {
        font-size: 45px;
        line-height: 1.28;
    }

    @media screen and (min-width: 1680px) {
        font-size: 65px;
        line-height: 1.28;
    }
}