/**
 * MQ-Breakpoints
 *
 * The project's different breakpoints
 */
$dsb-breakpoints: (
    s: 600px,
    m: 900px,
    l: 1250px,
    xl: 1680px
    // screen-lg: 1150px,
    // screen-xl: 1280px,
    // screen-xxl: 1440px,
    // screen-xxxl: 1680px
);
