@font-face {
    font-family: 'Roboto';
    // src: url(../../static/fonts/Roboto-Regular.ttf);
}

// font
$root-font-size: 1rem;
$font-family: 'Roboto', sans-serif;

// colors
$red: #B41730;

$grey-1: #eee;
$grey-2: #ccc;