@use './../../styles/settings' as *;

.headline-1 {
    font: {
        family: $font-sans-serif;
        size: 32px;
        weight: bold;
    }

    line-height: 1.31;
    margin: 0;
    
    @media screen and (min-width: 600px) {
        font-size: 38px;
        line-height: 1.26;
    }
    
    @media screen and (min-width: 900px) {
        font-size: 50px;
    }
    
    @media screen and (min-width: 1230px) {
        font-size: 50px;
        line-height: 1.23;
    }
    
    @media screen and (min-width: 1680px) {
        font-size: 65px;
    }

    &.-red {
        color: $color-red;
    }
}